@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background: linear-gradient(68.15deg, #1b2835 16.62%, #455c72 85.61%);
    font-family: "Sora", sans-serif;
    font-size: 100%;
}


/*-----Header-----*/

.cabecalho{ 
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: linear-gradient(68.15deg, #243444 16.62%, #32495F 85.61%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    }

.user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
    
.cabecalho-logo{
    height: 68px;
    width: 200px;
}
        
.cabecalho-menu a{
    position: relative;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}
        
.cabecalho-menu a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #EC0444;
    transition: .3s;
}
            
.cabecalho-menu a:hover::before{
    width: 100%;
}

.noticias{
    background-color: #EC0444;
}


/*-----Main-----*/

.noticias-section {
    position: relative;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.noticias-image{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    z-index: 1;
    margin-bottom: 25px;
}

.carousel-control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.left{
    left: 20px;
}

.right{
    right: 20px;
}

.noticias-conta{
    position: absolute;
    bottom: 20px;
    left: 50px;
    color: white;
    text-align: center;
    z-index: 2;
}

.noticias-conta h1{
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    top: -340px;
}

.noticias-conta p{
    font-size: 24px;
    margin: 5px;
    border: #333;
}

.leia-mais{
    display: inline-block;
    background: #fff;
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 5px;    
    transition: all 0.4s;
}

.leia-mais:hover{
    color: #EC0444;
}


/*-----Footer-----*/

.noticias{
    background-color: #EC0444;
}

#footer_content{
    background-color: #243444;
    display: flex;
    justify-content:space-between;
    padding: 25px;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

.footer-img{
    height: 100px;
}

.qrfooter{
    height: 250px;
}

.frase-footer{
    color: #EC0444;
    font-family: "Sora", sans-serif;
    font-weight: 400;
    margin-top: 5px;
}

.acessebpk{
    color: #a8a29e;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

.acessebpk:hover{
    color: #EC0444;
    transition: all 0.4s;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 30px;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);   
}

#whatsapp{
    background-color: #25d366;
}

#linkedin{
    background-color: #0e76a8;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    color: #EC0444;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

.footer-list h3{
    font-size: 20px;
}

.footer-list .footer_link{
    color: #a8a29e;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

.footer-list .footer_link:hover{
    color: #EC0444;
    transition: all 0.4s;
}

.noticias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 300px;
    align-items: center;
    background-color: #EC0444;
    padding: 10px;
    font-family: "Sora", sans-serif;
    font-weight: 400;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
}

#footer_subscribe h3{
    font-size: 24px;
    color: #ffffff;
}

#footer_subscribe p{
    color: #ffffff;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
}

#input_group button{
    background-color: #a8a29e;
    border: solid #a8a29e;
    color: #ffffff;
    padding: 10px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input_group button:hover{
    opacity: 0.8;
    transition: all 0.4s;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #EC0444;
    font-size: 13px;
    padding: 15px;
    font-weight: 100%;
}   


/* DESTAQUES - ESTRELAS */
.destaques{
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    font-size: 100%;
    
}

.titulo-destaque{
    color: #EC0444;
    font-size: 22px;
    font-weight: 500;
    background-color: #fff;
    margin: 25px;
    margin-bottom: 0;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.titulo-destaque h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.conteudo-destaque{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    margin: 25px;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.conteudo-destaque img{
    width: 350px;
    border-radius: 15px;
    margin: 25px;
    margin-left: 65px;
}

.texto-destaque{
    margin-right: 65px;
}

.texto-destaque h3{
    margin-bottom: 10px;
    font-size: 26px;
}

.carousel-control{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #9999;
}

.left{
    margin-right: 20px;
}

.right{
    margin-left: 20px;
}


.carousel-control2{
    position: absolute;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #333;
    font-size: 25px;
    cursor: pointer;
    z-index: 2;
}

.left2{
    left: 45px;
}

.right2{
    right: 45px;
}

